.add-container {
    background-color: #fff;
    border-radius: 12px;
    padding: 24px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    width: 1000px;
}
.ml-40 {
  margin-left: 40px;
}
.row-button{
  justify-content: space-around;
}