<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <a href="#" class="brand-link">
    <span class="brand-text font-weight-light">AdminLTE</span>
  </a>
  <div class="sidebar">
    <!-- <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="info nav-link"><a href="#" class="d-block">{{'user@example.com'}}</a></div>
    </div> -->
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview">
        <li class="nav-item">
          <a routerLink="/dashboard" class="nav-link"><i class="nav-icon fas fa-tachometer-alt"></i><p>Dashboard</p></a>
        </li>
        <li class="nav-item">
          <a routerLink="/products" class="nav-link"><i class="nav-icon fas fa-file"></i><p>Products</p></a>
        </li>
      </ul>
    </nav>
  </div>
</aside>
