<button class="btn btn-primary" routerLink="/products/list" routerLinkActive="active-link">Retour</button>

<div class="container mt-5">
    <div class="card shadow rounded">
        <div class="card-body">
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <h4 class="mb-3">📝 Informations générales</h4>
                <div class="mb-3 ml-40">
                    <label class="form-label">Nom du produit</label>
                    <input type="text" class="form-control" formControlName="productName" placeholder="Entrez le nom du produit"
                        [ngClass]="{ 'is-invalid': productForm.get('productName')?.invalid && productForm.get('productName')?.touched }">
                    <div class="invalid-feedback"
                        *ngIf="productForm.get('productName')?.hasError('required') && productForm.get('productName')?.touched">
                        Le nom du produit est requis.
                    </div>
                </div>
<!-- categories -->
                <div class="mb-3 ml-40">
                    <label class="form-label ">Category</label>
                    <select class="form-select" formControlName="categoryId"
                        [ngClass]="{ 'is-invalid': productForm.get('categoryId')?.invalid && productForm.get('categoryId')?.touched }">
                        <option selected disabled>Choisissez une catégorie</option>
                        <option *ngFor="let c of categories" [value]="c.categoryId">{{c.categoryName}}</option>
                    </select>
                    <div class="invalid-feedback"
                        *ngIf="productForm.get('categoryId')?.hasError('required') && productForm.get('categoryId')?.touched">
                        La catégorie est requise.
                    </div>
                </div>
 <!-- Description                -->
                <div class="mb-3 ml-40">
                    <label class="form-label ">Description</label>
                    <textarea class="form-control" rows="3" formControlName="description" placeholder="Entrez la description du produit"></textarea>
                </div>

                <div class="my-3">
                    <h4 class="mb-3">💰 Tarification</h4>

                    <div class="row ml-40">
            <!-- Prix d'achat TTC -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label ">Prix d'achat TTC</label>
                            <input type="number" formControlName="purchasePrice" class="form-control" placeholder="0"
                                [ngClass]="{ 'is-invalid': productForm.get('purchasePrice')?.invalid && productForm.get('purchasePrice')?.touched }">
                            <div class="invalid-feedback"
                                *ngIf="productForm.get('purchasePrice')?.hasError('required') && productForm.get('purchasePrice')?.touched">
                                Le prix d'achat est requis.
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="productForm.get('purchasePrice')?.hasError('min') && productForm.get('purchasePrice')?.touched">
                                Le prix ne peut pas être négatif.
                            </div>
                        </div>
             <!-- Prix de vente TTC            -->
                        <div class="col-md-6 mb-3">
                            <label class="form-label ">Prix de vente TTC</label>
                            <input type="number" formControlName="sellPrice" class="form-control" placeholder="0"
                                [ngClass]="{ 'is-invalid': productForm.get('sellPrice')?.invalid && productForm.get('sellPrice')?.touched }">
                            <div class="invalid-feedback"
                                *ngIf="productForm.get('sellPrice')?.hasError('required') && productForm.get('sellPrice')?.touched">
                                Le prix de vente est requis.
                            </div>
                            <div class="invalid-feedback"
                                *ngIf="productForm.get('sellPrice')?.hasError('min') && productForm.get('sellPrice')?.touched">
                                Le prix ne peut pas être négatif.
                            </div>
                        </div>
                    </div>
                </div>


                <!-- Section 4 -->
                <h4 class="mb-3">📦 Stocks</h4>

                <div class="row ml-40">
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Quantité en stock</label>
                        <input type="number" formControlName="unitsInStock" class="form-control" placeholder="0"
                            [ngClass]="{ 'is-invalid': productForm.get('unitsInStock')?.invalid && productForm.get('unitsInStock')?.touched }" />
                        <div class="invalid-feedback"
                            *ngIf="productForm.get('unitsInStock')?.hasError('min') && productForm.get('unitsInStock')?.touched">
                            La quantité ne peut pas être négative.
                        </div>
                    </div>

                    <div class="col-md-6 mb-3">
                        <label class="form-label">Seuil d'alerte</label>
                        <input type="number" class="form-control" formControlName="stockLimit" placeholder="Stock minimum" value="6"/>
                    </div>
                </div>

                <div class="row d-flex ml-40 mt-3 row-button">
                    <button type="submit" class="btn btn-primary ml-40" style=" width: 15%;" [disabled]="productForm.invalid">Modifier</button>
                </div>

            </form>
        </div>
    </div>
</div>